

#site-nav .sn-seller {
    display: none;
}

body.w1190 #site-nav .sn-seller, div.w1190 #site-nav .sn-seller, .w1 #mallPage.mallist #site-nav .sn-seller {
    display: block;
}

.mui-global-in-pad #site-nav .sn-tmallbao {
    margin-top: 8px;
}

.display {
    display: none;
}

body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
}

body {
    color: #404040;
    font-family: tahoma,arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
}

body {
    background-color: #fff;
    color: #404040;
    font-family: tahoma,arial,微软雅黑,sans-serif;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.tm-clear {
}

    .tm-clear:after {
        clear: both;
        content: " ";
        display: block;
        height: 0;
    }

.tm-detail-meta {
    min-height: 670px;
    position: relative;
    width: 990px;
    z-index: 100;
}

a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

a {
    text-decoration: none;
}

a {
    color: #35a;
}

a {
    outline: 0;
}

div {
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

.w1190 #detail {
    width: 1190px !important;
}

#detail {
    margin: 20px auto;
    width: 990px !important;
}

.tm-detail-meta {
    width: 990px;
    position: relative;
    z-index: 100;
    min-height: 670px;
}

#detail .tb-property {
    float: left;
    width: 100%;
}

#detail .tb-wrap {
    margin: 0 0 0 460px;
    color: #666;
    padding: 0 0 10px;
}

#detail .tb-gallery {
    margin-left: -100%;
    float: left;
    width: 460px;
    position: relative;
    _display: inline;
}

.tb-gallery .tb-booth {
    position: relative;
    display: table;
    table-layout: fixed;
    z-index: 1;
    width: 420px;
    height: 420px;
    margin: 20px auto 0;
    _overflow: hidden;
}

    .tb-gallery .tb-booth a {
        width: 430px;
        height: 430px;
        border: 1px solid rgba(0,0,0,.05);
        border: 1px solid #c0c0c0\9;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .tb-gallery .tb-booth .zoomIcon {
        font-family: tm-detail-font;
        font-style: normal;
        font-weight: 400;
        height: 30px;
        line-height: 30px;
        width: 30px;
        z-index: 2;
        position: absolute;
        background-color: #fff;
        opacity: .6;
        color: #333;
        font-size: 18px;
        right: 0;
        bottom: 0;
    }

    .tb-gallery .tb-booth a .ks-imagezoom-wrap {
        margin: -1px 0 0 -1px;
    }

    .tb-gallery .tb-booth a {
        text-align: center;
    }

        .tb-gallery .tb-booth a img {
            vertical-align: middle;
            max-width: 100%;
            max-height: 100%;
        }

.ks-imagezoom-lens {
    background-color: transparent;
    background-attachment: scroll;
    background-repeat: repeat;
    cursor: move;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    background-position: 0 0;
}

.ks-imagezoom-lens {
    background-image: url(../images/tbShow.png);
}

.tb-gallery .tb-thumb {
    overflow: hidden;
    text-align: center;
    margin-left: -16px;
}

    .tb-gallery .tb-thumb li {
        display: inline-block;
        margin: 0 0 0 16px;
        padding-top: 22px;
    }

    .tb-gallery .tb-thumb a {
        float: left;
        position: relative;
        width: 60px;
        height: 60px;
        overflow: hidden;
    }


.tb-meta-icons {
    position: absolute;
    top: 0;
    right: 40px;
    z-index: 1;
}

.ks-overlay {
    position: absolute;
}

.ks-imagezoom-viewer {
    border: 1px solid #CCC;
    overflow: hidden;
    text-align: center;
    z-index: 1999;
    background-color: #fff;
}

.ks-imagezoom-viewer {
    text-align: center;
}

fieldset, img {
    border: 0 none;
}

#page #content {
    background-color: #fff;
}

#content, #page #content, .tshop-pbsm-spb10c .shop-header .nav li, #J_HeaderCrumb .more-ys-list a {
    background-image: none;
}

#content {
    background-color: #fff;
    width: auto;
}

#mall-category, #content, #mall-desc, #copyright {
    margin: auto;
    width: 990px;
}

#page, #header, #content, #footer {
    margin-left: auto;
    margin-right: auto;
}

    #page #content {
        background-color: #fff;
    }

    #content, #page #content, .tshop-pbsm-spb10c .shop-header .nav li, #J_HeaderCrumb .more-ys-list a {
        background-image: none;
    }

#content {
    background: url("about:blank") repeat scroll left 0 #3d3d3d;
}

#content {
    background-color: #fff;
    width: auto;
}

#content, #page #content, .tshop-pbsm-spb10c .shop-header .nav li, #J_HeaderCrumb .more-ys-list a {
    background-image: none;
}

#mall-category, #content, #mall-desc, #copyright {
    margin: auto;
    width: 990px;
}

#page, #header, #content, #footer {
    margin-left: auto;
    margin-right: auto;
}
